* {
    margin: 0;
    padding: 0;
    color: white !important;
}

.head-slogan {
    width: 100% !important;
    background-color:black !important;
}

.hero-section {
    height: 85vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.hero-section h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 4rem;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 5px 39px rgba(0,0,0,1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.logo{
    position: absolute;
    height: 200px;
    width: 300px;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-shadow: 0px 5px 39px rgba(0,0,0,1);
}
#carouselExampleFade {
    height: 100% !important;
    background: linear-gradient(180deg, #11101062 30%, #331010) !important;
}

.indicator {
    height: 15px !important;
    width: 15px !important;
    border-radius: 50% !important;
    background-color: transparent;
}


.carousel-item img {
    height: 100% !important;
    width: 100%;
}

.carousel-item {
    opacity: 0.2;
}

/* page-two */
.page-two{
    text-align: center;
    position: relative;
}
.two-head{
    font-size: 2rem;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dash{
    color: rgba(128, 128, 128, 0.71) !important;
    margin: 20px 0 !important;
}

.card-container{
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card-container p ul li{
    color:  gray !important;
}
.doc-card{
    height: 500px;
    width: 350px;
    text-align: center;
}
.doc-card img{
    height: 180px !important;
    width: 100%;
}
.page-three{
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.document-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.para ol li{
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.767) !important;
}
.about{
    height: 100% !important; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-cont{
    margin: 20px 0;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.about-cont img{
    height: 300px;
    width: 500px;
}
.about-text{
    margin: 3% 4%;
    width: 70% !important;
    text-align: center;
}
.about-text p{
    color: gray !important;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
@media(max-width: 600px) {

    .hero-section {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #carouselExampleFade {
        height: 80vh !important;
    }

    .hero-section h1 {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 2.5rem;
        text-align: center;
        color: white;
        font-weight: bold;
      

    }

    .carousel-item img {
        height: 100vh !important;
        width: 100% !important;
    }
    .logo{
        position: absolute;
        height: 100px;
        width: 200px;
        top: 15%;
        left: 25%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-shadow: 0px 5px 39px rgba(0,0,0,1);
    }
    .document-container{
        width:90% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .para ol li, b{
        font-size: 1rem;
    }
}